section
    h2 History of ECMAScript
    ul
        li.fragment ES1 (1997) unified Netscape (JavaScript) and IE (JScript) implementations
        li.fragment ES2 (1998) defined only minor updates
        li.fragment ES3 (1999) added modern language constructs (RegExp, try/catch)
        li.fragment ES4 (2008) contained major languages changes
            ul
                li Dropped at the last minute due to objections from Microsoft
                li Many proposals from ES4 were later added to ES6
        li.fragment ES5 (2009)
            ul
                li getters/setters, JSON
                li Backwards incompatible "strict" mode
        li.fragment ES6 (2016)
