section
    section
        h3 Object literal shorthand
        pre
            code.
                var foo = 'value';
                var obj = {
                    foo
                };

                obj.foo === 'value';


                var obj = {
                    bar() { return 'value'; }
                };

                obj.bar() === 'value';

    section
        h3 Getters and setters
        pre
            code.
                var obj = {
                    get foo() {
                        return this._foo;
                    },
                    set foo(value) {
                        this._foo = value;
                    }
                };

                obj.foo = 'bar';
                obj.foo === 'bar'; // true

    section
        h3 Computed property names
        pre
            code.
                var name = 'foo';
                var obj = {
                    [ name ]: 42,
                    [ name + 'Bar' ]: 43
                }; 

                obj.foo === 42;
                obj.fooBar === 43;
