section
    h3 Overview
    ul
        li.fragment Fully supported* by all modern browsers
        li.fragment Backward compatible with strict mode ES5
        li.fragment Many new features
        ul
            li.fragment Syntactic sugar (arrow functions, spread, destructuring)
            li.fragment New keywords and syntax (for/of, generators, let/const)
            li.fragment New types (Promises, Symbol, Map, Set)
            li.fragment Expanded metaprogramming (Reflect, Proxy)
            li.fragment New methods on existing objects (Object.assign, Array.from)
            li.fragment Subclassable builtins (Array, Date, Element)
            li.fragment Module syntax
            li.fragment tail call optimization, unicode RegExp, binary/octal literals, …

