doctype html
html
    include inc/head
    body
        .reveal
            .slides
                include ../slides/title
                include ../slides/history
                include ../slides/overview
                include ../slides/modules
                include ../slides/arrow
                include ../slides/object
                include ../slides/classes
                include ../slides/destructuring
                include ../slides/params
                include ../slides/iterators
                include ../slides/symbols
                include ../slides/reflect
                include ../slides/promises
        include inc/scripts
