/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

/*
* In src/styl/reveal-themes have more themes !!
*/
@import "reveal-themes/simple"

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/github"

h1,h2,h3,h4
    margin-bottom 30px !important

li
    font-size 32px

pre > code
    max-height none !important

.jb-left
    width 48% !important
    float left !important

.jb-right
    width 48% !important
    float right !important
